export(daqAcquire.NIDAQmx)
export(daqClose.NIDAQmx)
export(daqConfig.NIDAQmx)
export(daqRead.NIDAQmx)
export(daqStart.NIDAQmx)
export(isDaqFinished.NIDAQmx)
export(isDaqOpen.NIDAQmx)
export(nidaqErrorMsg)
export(NIDAQnew)
export(nidaqStop)
